/* THIS IS ALL CSS FOR INDEX.HTML */
.jumbotron{

    text-align: center;
    background-color: white !important;
  
}
.jumbotron h1{
    font-weight: bold;
}
.jumbotron p{
    font-weight: none ;
}

.timer{
    text-align: right;
}
button{
    background-color: blueviolet !important;
    color: white !important;
}
.container1{
    visibility: hidden;
    float: center;
    margin-top: -20vh;
  
}


#A{
    width: 15vh;
    margin-left: -75%;
}
#B{
    width: 15vh;
    margin-left: -75%;
}
#C{
    width: 15vh;
    margin-left: -75%;
}
#D{
    width: 15vh;
    margin-left: -75%;
}
.container2 {
    visibility: hidden;
    margin-top: -20vh;
}
.container2 h2{
    font-weight: none;
    font-size: medium;
}
.container3{
    visibility: hidden;
    margin-top: -20vh;
}
.card{
    visibility: hidden;
    margin-top: -20vh;
}
.rightOrWrong{
    visibility: hidden;
}
/* THIS IS CSS ELEMENTS FOR RESULTS.HTML */
.result{
    text-align: center;
    background-color: white !important;
}
#correctOrIncorrect{
    text-decoration-color:grey;
    margin-top: 20vh !important;
    visibility: hidden;
}
#highScores{
    text-align: center;
    background-color: white !important;
}
